@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
body {
  font-family: "Poppins", sans-serif;
}

.icons{
  display: flex;
  align-items: center
}

.icons h4{
  margin:15px
}