@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
body {
  font-family: "Poppins", sans-serif;
}

.icons {
  display: flex;
  align-items: center;
}

.icons h4 {
  margin: 15px;
}

.gridContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
}

.gridItem {
  padding: 10px;
  border: black 1px solid;
}
